body{
     font-family: 'Raleway', sans-serif;
     color: black;
     margin-left: 2em;
}
header{
    display:flex;
    justify-content:space-between;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin: 2em;
}
img{
    margin: 2em ;
}
h1{
    margin: 2em ;
}
p{
    margin: 2em ;
}
#catégories{
    display: flex;
}
.content-article{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1300px;
}
#host{
    background-color: #F2F2F2;
    border-radius: 30px;
}
#host img{
    height: 200px;
    width: 300px;
}
.content-host-popular{
    display: flex;
 }
button{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
}
#section-bottom img{
    height: 200px;
    width: 300px;
    object-fit: cover;
}
.content-bottom{
    display:flex;
    flex-wrap: wrap;
}
#popular img{
    height: 100px;
    width: 110px;
    object-fit:cover;
}
#popular-content{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-left: 2em;
    border-radius: 30px;
}
#content-bottom{
    display: flex;
    align-items: stretch;
 }
h4{
    padding: 2em;
    font-size: x-large;
}
#popular-content img{
    float: left;
}
#popular-content article{
    background-color: white;
    margin: 2em;
    border-radius: 30px;
}
#host article{
    background-color: white;
    margin: 2em;
    border-radius: 30px;
}
h3{
    font-size:x-large;
    margin: 2em;
}
article :nth-child(2n){
    font-weight: bold;
}