body{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&display=swap" rel="stylesheet">
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
header{
    display:flex;
    justify-content:space-between;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin: 2em;
}
img{
    margin: 2em ;
}
h1{
    margin: 2em ;
    font-size: medium;
}
p{
    margin: 2em ;
    font-size: medium
}
#Rechercher, button{
    display: flex;
    height: 1.5%;
    align-items: center;
}
#catégories{
    display: flex;
}
#section_left{
    display: flex;
    align-items: center;
}
