body{
     font-family: 'Raleway', sans-serif;
     color: black;
}
header{
    display:flex;
    justify-content:space-between;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin: 2em;
}
img{
    margin: 2em ;
}
h1{
    margin: 2em ;
}
p{
    margin: 2em ;
}
#catégories{
    display: flex;
}
.content-article{
    display: flex;
    align-items: center;
}
#host img{
    height: 200px;
}
.content-host-popular{
    display: flex;
}
button{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
}